// Block
.ob-avatar {
  background-color: var(--interactive-extra-lightest);
}

// Modifiers 
.ob-avatar {
  &--circle {
    border-radius: var(--rounded-full);
  }

  &--rounded {
    border-radius: var(--rounded-medium);
  }


  // Sizes
  &--extra-nano {
    @include box(--size-small);
  }

  &--nano {
    @include box(--size-medium);
  }

  &--extra-small {
    @include box(--size-large);
  }

  &--small {
    @include box(--size-mega);
  }

  &--medium {
    @include box(--size-extra-mega);
  }

  &--large {
    @include box(--size-giga);
  }

  &--extra-large {
    @include box(--size-extra-giga);
  }

  &--default {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
