<div class="ob-media ob-media--align-block-start ob-media--large">
  <div class="ob-media__body">
    <p>
      <b>My name is A Kamariana</b>;
      I teach product designers and frontend software engineers how to master the art of crafting seamless user-centered digital experiences, transforming their ideas into a masterpiece, and creating a lifestyle that makes their design engineering dreams come true. 
    </p>

    <p>
      When I’m not teaching or pushing pixels or coding, I’m either supporting my beautiful wife with home-schooling the kids in our community, field-tripping to historical locations with the kids, or having a quiet time alone — away from the house.
    </p>
    
  </div>

  <div class="ob-media__figure">
    <img class="ob-avatar ob-avatar--rounded ob-avatar--extra-large" src="{{ site.author_image }}" alt="{{ site.author_image-alt }}">
  </div>
</div>