<div class="ob-media align-block-start large">
  <div class="ob-media__body">
    <p class="md-lead-text">
      <b>
        A Kamariana
      </b>
    </p>
    
    <p>
      I'm a Human-Centric Teacher and Design Engineer. I sit at the intersection of faith, design, history, and computer science. God-willing, these are the core areas of my focus for promoting human well-being and creating positive change in the world. Open web technologies like HTML, CSS, JavaScript and various web APIs are my favorite tools to enhance and amplify human efforts.
    </p>
    
    <p>
      My work fits under the umbrellas of teaching, UX research, UI design, and front-end software engineering — and generally thinking about humans first.
    </p>
    
  </div>

  <div class="ob-media__figure">
    <img class="ob-avatar ob-avatar--rounded ob-avatar--extra-large" src="{{ site.author_image }}" alt="{{ site.author_image-alt }}">
  </div>
</div>