blockquote {
  @include owl(--size-tiny);
  border-inline-start: 4px solid var(--primary-enabled);
  font-family: var(--typeface-secondary);
  font-size: var(--typescale-small);
  line-height: var(--leading-medium);
  margin-block-start: var(--size-small);
  padding-block: var(--size-tiny);
  padding-inline: var(--size-tiny);
  border-radius: var(--rounded-small);
  font-weight: 500;
  > p {
    margin-block-start: 0;
  }
}

q {
  font-style: italic;
}


// MQs
@include respond(laptop-small) {
  blockquote {
    font-size: var(--typescale-mega);
    line-height: var(--leading-large);
    padding: var(--size-extra-small);
  }
}