// Block
.cp-sidebar-nav {
  @include reset-list;
}


// Elements
.cp-sidebar-nav__item {

}

.cp-sidebar-nav__link {
  display: block;
  text-decoration: none;
  color: var(--surface);
  padding-block: var(--size-nano);
  padding-inline: var(--size-extra-small);
  border-start-end-radius: var(--rounded-small);
  border-end-end-radius: var(--rounded-small);
  
  &:hover {
    background-color: var( --interactive-extra-lightest);
    color: var(--black);
  }
}

