---
layout: default
---

{% include components/navigation/navbar.html %}

<div class="lo-sidebar lo-sidebar--banner">
  <main class="lo-sidebar__main">
    <article class="lo-sidebar-journal">

      <header class="lo-sidebar-journal__header">
        <div class="lo-sidebar-journal__contain">
          
          <h1 class="lo-sidebar-journal__title">
            {{ page.title }}
          </h1>
          <p class="md-lead-text">
            {{ page.description }}
          </p>
          
          {% include /design-system/toc-mobile.html %}
        </div>
      </header>

      <div class="lo-sidebar-journal__content">
        <div class="lo-sidebar-journal__contain">
          {{ content }}
        </div>
      </div>

      <footer class="lo-sidebar-journal__footer">
       <!-- navigation to move from one to the other collection -->
      </footer>
    </article>
  </main>

  <aside class="lo-sidebar__aside lo-sidebar__aside--sidebar">
    {% include /design-system/sidebar.html %}
  </aside>

  <aside class="lo-sidebar__aside lo-sidebar__aside--toc">
    <div class="lo-sidebar__aside-sticky">
      {% include /design-system/toc.html %}
    </div>
  </aside>
</div>


