<section class="cp-slat cp-slat--pad-tb">
  <div class="
    ob-contain 
    ob-contain--page 
    ob-contain--responsive
    ob-contain--extra-mega
    ob-contain--owl"
  >

  <div class="cp-slat__head">

    <div class="cp-slat__titlebar cp-slat__titlebar--overline dotted">
      <h2 class="cp-slat__title">
        Journal
      </h2>
      <p class="cp-slat__sub-title">
        Featured writings on faith, design, engineering and my experience studying Islam, History and Computer Science.
      </p>
    </div>

  </div>

  <ul class="cp-grid cp-grid--columns-auto">
    {% for item in site.posts limit:3 %}
      {% include components/cards/card-journal.html %}
    {% endfor %}
  </ul>

  <div class="md-dp-center-block">
    <a href="/journal/?ref=cta-home-journal" class="cp-button cp-button--secondary">
      See All Journal
    </a>
  </div>
    
  </div>
</section>

