{% assign featured_reversed_templates = site.templates %}

<section class="cp-slat cp-slat--pad-tb">
    <div class="
      ob-contain 
      ob-contain--page 
      ob-contain--extra-mega
      ob-contain--owl"
    >

    <div class="cp-slat__head">

      <div class="cp-slat__titlebar cp-slat__titlebar--overline dotted">
        <h2 class="cp-slat__title">
          Free themes and templates
        </h2>
        <p class="cp-slat__sub-title">
          A list of free themes & templates built on top of Barebook!
        </p>
      </div>

    </div>
   
    <ul class="cp-grid cp-grid--columns-auto">
      {% for item in featured_reversed_templates limit: 10  %}
        {% include components/cards/card-journal.html %}
      {% endfor %}
    </ul>    

  </div>
</section>