{% assign featured_reversed_webs = site.webs | reverse %}

<section class="cp-slat cp-slat--pad-tb">
    <div class="
      ob-contain 
      ob-contain--page 
      ob-contain--extra-mega
      ob-contain--owl"
    >

    <div class="cp-slat__head">

      <div class="cp-slat__titlebar cp-slat__titlebar--overline dotted">
        <h2 class="cp-slat__title">
          Website & Web Application
        </h2>
        <p class="cp-slat__sub-title">
          A list of websites & web Application built on top of Barebook!
        </p>
      </div>

    </div>
   
    <ul class="cp-grid cp-grid--columns-auto">
      {% for item in featured_reversed_webs limit: 2  %}
        {% include components/cards/card-journal.html %}
      {% endfor %}
    </ul>    

  </div>
</section>