<section class="cp-slat cp-slat--pad-tb">
    <div class="
      ob-contain 
      ob-contain--page 
      ob-contain--medium
      ob-contain--owl"
    >

    <div class="cp-slat__head cp-slat__head--centered">

      <div class="cp-slat__titlebar cp-slat__titlebar--overline centered dotted">
        <h2 class="cp-slat__title">
          Author
        </h2>
        <p class="cp-slat__sub-title">
          Barebook is brought to you by
        </p>
      </div>
  
    </div>

    {% include components/author.html %}   

  </div>
</section>