// Block
.cp-fullscreen-nav {
  @include pos-zero-all-sides;
  position: fixed;
  z-index: var(--layer-under);
  background-color: var(--primary-enabled);
  color: var(--primary-enabled-surface);
  opacity: 0;
  transform: translate3d(0, -100%, 0);
  transition: opacity 0.2s ease;

  // State
  &.is-open {
    z-index: var(--layer-surface);
    display: block;
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.cp-fullscreen-menu {
  display: flex;
  flex-direction: column;
  text-align: center;
}

// Elements
.cp-fullscreen-nav__contain {
  display: flex;
  height: 100vh;
  flex-direction: column;
  padding: 0;
  overflow-y: auto;
}

.cp-fullscreen-nav__header {
  @include dp-flex-wrap-gap(--gutter-small);
  @include dp-flex-center-apart;
  padding: var(--gutter-tiny) var( --gutter-extra-small);  

  .cp-logo {
    border-color: var(--black);
  }
}

.cp-fullscreen-nav__main {
  margin-top: auto;
  margin-bottom: auto;
  @include owl(--gutter-tiny);
}

.cp-fullscreen-nav__footer {
  padding: var(--spacing-small) var(--spacing-medium);  
}


.cp-fullscreen-menu__list {
  @include reset-list;
}

.cp-fullscreen-menu__link {
  display: block;
  padding: var(--spacing-extra-tiny);
  color: var(--black-light);
  font-size: var(--typescale-title-medium);
  text-decoration: none;

  &:hover {
    color: var(--black);
  }
}

// Elements Modifiers
.cp-fullscreen-menu__list--alt {
  .cp-fullscreen-menu__link {
    font-size: var(--typescale-body-medium);
  }
}



// MQs
@include respond(tablet-small) {
  .cp-fullscreen-nav__main {
    @include dp-flex-center;
    gap: var(--gutter-large);
    display: flex;
  }

  .cp-fullscreen-menu {
    text-align: left;
  }
}


@include respond(tablet-medium) {
  .cp-fullscreen-nav__main {
    @include dp-flex-center;
    gap: var(--gutter-extra-large);
  }

  .cp-fullscreen-menu__link {
    padding: var(--spacing-tiny);
    font-size: var(--typescale-title-large);
  }

  .cp-fullscreen-menu__list--alt {
    .cp-fullscreen-menu__link {
      font-size: var(--typescale-title-small);
    }
  }
}