// Block
.cp-form {}


// Element
.cp-form__group {
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                
}

.cp-form__hint {
  display: block;
  font-size: var(--typescale-body-small);
}


// Modifier
.cp-form__group--checkadio {
  position: relative;
  display: flex;
  align-items: center;
  height: 32px;

  // custom checkbox and radio input
  [type="checkbox"],
  [type="radio"] {
    opacity: 0;
    

    + label {
      order: -1;
      padding-inline-start: 40px;
      &::before,
        &::after {
          position: absolute;
          top: 50%;
          left: 0;
          content: "";
          transform: translateY(-50%);
        }
  
        &::before {
          width: 32px;
          height: 32px;
          border: 2px solid var(--form-field-outline);
          background-color: transparent;
        }
  
        &::after {
          width: 24px;
          height: 24px;
          margin-left: 4px;
        }
    }

    &:hover {
      + label::before {
        border-color: var(--form-field-hovered);
      }
    }

    &:focus {
      + label::before {
        border-color: var(--form-field-focused);
        box-shadow: 0 0 0 2px var(--form-field-focused);
        outline: 3px solid transparent; /* For Windows high contrast mode. */
      }
    }

    &:checked {
      + label::before {
        border-color: var(--form-field-enabled);
      }

      + label::after {
        background-color: var(--form-field-enabled);
      }
    }

    &:disabled {
      
      + label {
        color: var(--surface-lighter);
        cursor: not-allowed;
      }

      + label::before {
        border-color: var(--canvas-dark);
        background-color: var(--canvas-dark);
        cursor: not-allowed;
      }
    }
  }

  input[type="radio"] {
    + label::before,
    + label::after {
      border-radius: 100%;
    }
  }

  [type="checkbox"] {
    + label::before {
      border-radius: var(--rounded-tiny);
    }
  }
}


// States
.cp-form__hint {

  &.error {

  }
}
