.cp-alert {
  padding: var(--spacing-small);
  background-color: var(--canvas-light);
  box-shadow: var(--elevation-medium);
  border-left: 8px solid var(--outline-light);
  border-top-right-radius: var(--rounded-large);
  border-bottom-right-radius: var(--rounded-large);

  margin: var(--gutter-extra-small) 0;
}


// Elements
.cp-alert__caption {
  font-weight: bold;
}



// Modifiers
.cp-alert--info {
  border-left-color: var(--info);
  background-color: var(--info-lightest);
  color: var(--surface-black);

  .cp-alert__caption,
  .cp-alert__title {
    color: var(--info);    
  }
}

.cp-alert--warning {
  border-left-color: var(--warning);
  background-color: var(--warning-lightest);
  color: var(--surface-black);

  .cp-alert__caption,
  .cp-alert__title {
    color: var(--warning);
  }
}



// MQs
@include respond(tablet-small) {
  .cp-alert {
    padding: var(--spacing-medium);
  }
}

@include respond(laptop-small) {
  .cp-alert {
    padding: var(--spacing-large);
  }
} 