// Block
.cp-sidebar {
  display: grid;
  gap: var(--gutter-large);  
}



// Elements
.cp-sidebar__aside {
  padding: var(--spacing-medium);
}



// MQs
@include respond(tablet-large) {
  .cp-sidebar {
    grid-template-columns: 21rem 1fr;
    gap: 0;
  }
  
  .cp-sidebar__aside {    
    order: -1;
  }
}
