<div
  class="cp-fullscreen-nav js-fullscreen-nav"
  role="navigation"
  aria-label="Fullscreen Navigation"
  hidden
>
  <div class="cp-fullscreen-nav__contain">
    <div class="cp-fullscreen-nav__header">
      {% include components/logo.html %} {% include
      components/toggle-nav-icon-close.html %}
    </div>

    <div class="cp-fullscreen-nav__main">
      <nav class="cp-fullscreen-menu">
        <ul class="cp-fullscreen-menu__list">
          {% for item in site.data.navigation.primary %}
          <li>
            <a href="{{ item.url }}" class="cp-fullscreen-menu__link"
              >{{ item.title }}</a
            >
          </li>
          {% endfor %}
        </ul>
      </nav>
      <nav class="cp-fullscreen-menu">
        <ul class="cp-fullscreen-menu__list cp-fullscreen-menu__list--alt">
          {% for item in site.data.navigation.secondary %}
          <li>
            <a href="{{ item.url }}" class="cp-fullscreen-menu__link"
              >{{ item.title }}</a
            >
          </li>
          {% endfor %}
        </ul>
      </nav>
      <nav class="cp-fullscreen-menu">
        <ul class="cp-fullscreen-menu__list cp-fullscreen-menu__list--alt">
          {% for item in site.data.navigation.tertiary %}
          <li>
            <a href="{{ item.url }}" class="cp-fullscreen-menu__link"
              >{{ item.title }}</a
            >
          </li>
          {% endfor %}
        </ul>
      </nav>
    </div>
  </div>
</div>
