// Block
.cp-masthead {
  display: flex;
  position: relative;
  min-height: 100vh; 
}

// Elements
.cp-masthead__contain {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 0;
}

.cp-masthead__text {
  @include pos-rel-object-forward;
  display: flex;
  flex-direction: column;
  margin-block-start: auto;
  padding: 
    calc(var(--gutter-extra-large) + var(--gutter-extra-large))
    var(--gutter-extra-small) 
    var(--gutter-large) 
    var(--gutter-extra-small);
  justify-content: center;
  max-width: var(--contain-tiny);
}

.cp-masthead__title {
  font-size: var(--typescale-display-small);
  line-height: var(--leading-extra-small);
  margin-block-start: 0;
}

.cp-masthead__sub-title {
  font-size: var(--typescale-title-small);
  line-height: var(--leading-small);
  font-weight: 300;
}

.cp-masthead__lead-text {
  margin-block-start: var(--gutter-extra-small);
  font-size: var(--lead-text-small);
  color: var(--surface-lighter);
}

.cp-masthead__tag {
  margin-block-end: var(--spacing-medium);
  font-size: var(--typescale-body-medium);
}

.cp-masthead__button {
  align-self: start;
  margin-block-start: var(--gutter-extra-small);
}

.cp-masthead__media {
  position: relative;
  background-color: var(--canvas);
  &::after {
    @include pseudo-class;
    @include pos-zero-all-sides;
    position: absolute;
    background-color: var(--transparent-neutral-medium); 
  }
}

.cp-masthead__picture,
.cp-masthead__video,
.cp-masthead__img {
  @include fit-media-into-container;
}


.cp-masthead__scroll-down {
  display: none;
  bottom: var(--gutter-extra-large);
  left: 0;
  position: absolute;
  transform: rotate(90deg);
  z-index: var(--layer-front);

  span {
    text-transform: uppercase;
    font-size: var(--typescale-body-large);
  }

  &::after {
    @include pseudo-class;
    position: absolute;
    top: var(--gutter-tiny);
    left:var(--gutter-extra-large);
    width: 100px;
    height: 2px;
    background-color: var(--surface);
  }
}


// Modifiers
.cp-masthead--banner {
  min-height: auto;

  .cp-masthead__text {
    max-width: var(--contain-tiny);
  }
}

.cp-masthead--overlay {
  color: var(--white);

  .cp-masthead__title,
  .cp-masthead__lead-text,
  .cp-masthead__tag,
  .cp-masthead__meta,
  .cp-masthead__button {
    color: var(--white);
  }

  .cp-masthead__media {
    @include pos-zero-all-sides;
    position: absolute;      
  }
}

.cp-masthead--sides {
  .cp-masthead__media {
    display: none;
  }
}



// MQs
@include respond(tablet-tiny) {
  .cp-masthead__text {
    padding-inline-start: var(--gutter-extra-large);
    padding-inline-end: var(--gutter-extra-large);
  }
}


@include respond(tablet-large) {
  .cp-masthead__title {
    font-size: var(--typescale-display-medium);
    line-height: var(--leading-medium);
  }

  .cp-masthead__sub-title {
    font-size: var(--typescale-title-large);
    line-height: var(--leading-medium);
  }
  
}

@include respond(laptop-medium) {
  .cp-masthead__text {
    padding-block-start: calc(var(--gutter-extra-large) * 4);
  }

  .cp-masthead--banner {
    .cp-masthead__text {
      padding-block-start: calc(var(--gutter-extra-large) * 2);
    }
  }
  
  .cp-masthead__title {
    font-size: var(--typescale-display-large);
    line-height: var(--leading-small);
  }

  .cp-masthead__sub-title {
    font-size: var(--typescale-title-large);
    line-height: var(--leading-medium);
  }

  .cp-masthead__lead-text {
    font-size: var(--lead-text-large);
    line-height: var(--leading-medium);
  }

  .cp-masthead__scroll-down {
    display: block;
  }

  .cp-masthead--sides {
    .cp-masthead__contain {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
    .cp-masthead__media {
      display: block;
    }
  }


  .cp-masthead__text {
    &.align-top {
      margin-block-end: auto;
    }
  
    &.align-left-center {
      margin-block-start: auto;
      margin-block-end: auto;
    }
  
    &.align-center {
      margin: auto;
      text-align: center;
    }
  }
}


@include respond(desktop) {
  .cp-masthead__text {
    &.align-top {
      margin-block-start: var(--gutter-large);
    }
  }
}
