.cp-accordions {
  @include owl(--gutter-tiny);

  .cp-accordion {
    margin-block-start: 0;
  }
}

.cp-accordion {
  margin-block-start: var(--gutter-small);
}


// Modifiers
.cp-accordion--details {
  border: 1px solid var(--outline-light);
  border-radius: var(--rounded-small);
}


// Elements
.cp-accordion__summary {
  padding: var(--spacing-extra-small);
  font-size: var(--typescale-body-extra-large);

  &::before,
  &::after {
    @include pseudo-class;
    position: absolute;
    top: 0;
  }

  &::before {
    width: 28px;
    height: 28px;
  }

  &::after {
    width: 12px;
    height: 12px;
    border-bottom: 2px solid var(--surface-fader);
    border-right: 2px solid var(--surface-fader);
    inset-block-start: 6px;
    inset-inline-end: 8px;
    transform: rotate(45deg);
  }
}

.cp-accordion__content {
  padding: 0 var(--spacing-extra-small) var(--spacing-extra-small);
}


// State
.cp-accordion[open] {
  .cp-accordion__summary {
    &::after {
      inset-block-start: 12px;
      transform: rotate(-135deg);
    }
  }
}




// MQs
